//- Extends the base layout template
extends layout

//- Main content block that replaces layout's content
block content
  //- Main page heading
  h1 About Game Gurus
  
  //- Platform description
  p Game Gurus is a platform dedicated to gamers who want to share and discover tips, tricks, and strategies for their favorite games.
  
  //- Team section
  h2 Our Team
  //- Unordered list of team members
  ul
    li Enea Shahinaj
    li Yulian Kokalov
    li Artem Shkurat
    li Luis Garcia
  
  //- Community section
  h2 Community Members
  p Check out our growing community of gamers who contribute to Game Gurus.
  //- Link to view all members
  a.btn(href="/users") View All Members
  
  //- Contact section
  h2 Contact Us
  p If you have any questions or suggestions, feel free to reach out to us.
  p Email: contact@gamegurus.com