doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title ? `${title} | Game Gurus` : 'Game Gurus'
    link(rel='stylesheet', href='/css/main.css')
  body
    header
      nav.main-nav
        a.logo(href='/')
          img.logo-icon(src='/images/GG_logo.png' alt='Game Gurus Logo' height='40')
          span Game Gurus

        //- Search Bar 
        form.search-box(action="/search" method="GET")
          input(type="text" name="q" placeholder="Search Game" required autocomplete="off")
          button(type="submit") Search

        .nav-links
          a(href='/') Home
          a(href='/games') Games
          a(href='/tips') Tips
          a(href='/about') About
        .auth-links
          if session && session.loggedIn
            a(href="/profile") My Profile
            a(href="/logout") Logout
          else
            a(href="/login") Login
            a(href="/register") Sign Up
    
    main.container
      block content

    footer
      .footer-content
        p &copy; 2025 Game Gurus. All rights reserved.