extends layout
block content
    h1 Game Gurus
    button(onclick="window.location.href='/login'") Log in
    button(onclick="window.location.href='/register'") Sign up
    button(onclick="window.location.href='/main_p'") Continue